{% extends "index.html" %} {% block content %}

<p>
  Boston BitDevs is a Bitcoin-focused, technical meetup. Like all worldwide
  BitDevs groups, we run a Socratic Seminar (learn more
  <a href="https://bitdevs.org/about">here</a>).
</p>
<p>
  If you're looking to learn about Bitcoin's latest technical developments, this
  is the event for you! Whether you're a long-time Bitcoiner looking to
  participate in the discussion, or a new Bitcoiner hoping to soak up technical
  information like a sponge, all are welcome.
</p>
<p>
  The reading lists for Socratic Seminars 1-8 can be found in the <a href="https://www.meetup.com/boston-bitdevs/events/past/" target="_blank">past events</a> section of the Meetup page.
</p>

<h2>RSVP for upcoming events</h2>

<ul class="posts">
  <li>
    10 April 2026 » <a href="https://app.evento.so/e/evt_7Xb4jPnRNT1iQzpA">Socratic Seminar 34 @ Fidelity</a>
  </li> 
  <li>
    June 2026 (Date TBD) » <a href="https://evento.so/p/evt_ZJKdHJEEq6hSpqau">Socratic Seminar 35 @ MIT</a>
  </li>
  <li>
    13 August 2026 » <a href="https://evento.so/p/evt_9fcVYNxo5QdEzThb">Socratic Seminar 36 @ Fidelity</a>
  </li>
  <li>
    September 2026 (Date TBD) » <a href="https://evento.so/p/evt_DPRuJ9JwoCi26Y7p">Socratic Seminar 37 @ MIT</a>
  </li>
  <li>
    5 November 2026 » <a href="https://evento.so/p/evt_TPphfXgNfy6YWuag">Socratic Seminar 38 @ Fidelity</a>
  </li>
</ul>

<h2>Socratic Seminar Reading Lists</h2>
<ul class="posts">
  {% for page in section.pages %}
  <li>
    <time>{{ page.date | date(format="%d %b %Y") }}</time>
    »
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
