{% extends "index.html" %} {% block content %}

<p>
  Boston BitDevs is a Bitcoin-focused, technical meetup. Like all worldwide
  BitDevs groups, we run a Socratic Seminar (learn more
  <a href="https://bitdevs.org/about">here</a>).
</p>
<p>
  If you're looking to learn about Bitcoin's latest technical developments, this
  is the event for you! Whether you're a long-time Bitcoiner looking to
  participate in the discussion, or a new Bitcoiner hoping to soak up technical
  information like a sponge, all are welcome.
</p>
<p>
  The reading lists for Socratic Seminars 1-8 can be found in the <a href="https://www.meetup.com/boston-bitdevs/events/past/" target="_blank">past events</a> section of the Meetup page.
</p>

<h2>RSVP for upcoming events</h2>

<ul class="posts">
  <li>
    TBD Mar 2025 » Socratic Seminar 28
  </li>
  <li>
    03 Apr 2025 » <a href="https://evento.so/p/evt_yYwEjZFAAkBMAGL9">Socratic Seminar 29</a>
  </li>
  <li>
    17 Jul 2025 » <a href="https://evento.so/p/evt_y4ZsA1hFJjwqPneL">Socratic Seminar 30</a>
  </li>
  <li>
    13 Nov 2025 » <a href="https://evento.so/p/evt_ZBhnKr2ne7AcZCqp">Socratic Seminar 31</a>
  </li>
</ul>

<h2>Socratic Seminar Reading Lists</h2>
<ul class="posts">
  {% for page in section.pages %}
  <li>
    <time>{{ page.date | date(format="%d %b %Y") }}</time>
    »
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
